<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linxinzhe.android.xinzhesecurity" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linxinzhe.android.xinzhesecurity.HomeActivity" />
        </activity>
        <activity
            android:name=".LostFoundActivity"
            android:label="@string/title_activity_lost_find"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linxinzhe.android.xinzhesecurity.HomeActivity" />
        </activity>
        <activity
            android:name=".setup.Setup1LostFoundActivity"
            android:label="@string/title_activity_setup_lost_found" >
        </activity>
        <activity
            android:name=".setup.Setup2LostFoundActivity"
            android:label="@string/title_activity_setup2_lost_found" >
        </activity>
        <activity
            android:name=".setup.Setup3LostFoundActivity"
            android:label="@string/title_activity_setup3_lost_found" >
        </activity>
        <activity
            android:name=".setup.Setup4LostFoundActivity"
            android:label="@string/title_activity_setup4_lost_found" >
        </activity>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".setup.SelectContactActivity"
            android:label="@string/title_activity_select_contact"
            android:parentActivityName=".setup.Setup3LostFoundActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linxinzhe.android.xinzhesecurity.setup.Setup3LostFoundActivity" />
        </activity>

        <receiver
            android:name=".receiver.SMSReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.GPSService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
